/* Custom fonts */
@font-face {
	font-family: nintend;
	src: url(fonts/nintend.ttf);
}

@font-face {
	font-family: spb;
	src: url(fonts/superplumberbros.ttf);
}

/* attempt to preload gif */
#preload-01 { background: url(imgs/bgFramesWithPurp.gif) no-repeat -9999px -9999px; }

body {
	background-color: #c8efff;
	background: url(imgs/bgFinal.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-sizing: border-box;
	overflow: hidden;
}

.match {
	background: url(imgs/bgFramesWithPurp.gif) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-sizing: border-box;
	overflow: hidden;
}

.btn {
	background-color: #831f9c;
	border: none;
}

.btn:hover {
	cursor: pointer;
	background-color: #461053;
	border: none;
}

#start {
	height: 90vh;
	font-family: "spb";
	color: #ce29f7;
	position: relative;
}

#title {
	font-size: 8rem;
	perspective: 600px;
}

#title > p {
	transform: rotateX(45deg);
	line-height: 0.75;
	text-align: center;
	color: #d662f3;
}

#start.playing {
	margin-top: -90vh;
	transition
}

#start.playing + #game {
	display: flex;
}

#game {
	display: none;
}

#game .row {
	width: 100%;
}

.container {
	flex-wrap: wrap;
	margin-top: 15%;
}

.game-card-wrapper {
	perspective: 600px;
	width: 75%;
	padding-bottom: 75%;
	position: relative;
	margin: 1rem auto;
}

.game-card-wrapper:hover {
	cursor: pointer;
}

.game-card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
	
}

.game-card.flipped {
	transform: rotateY(180deg);
}

.front,
.back {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.front {
	font-size: 3rem;
}
.front > img {
	height: 100%;
	width: auto;
	font-size: 3rem;
	pointer-events: none;
}

.back {
	transform: rotateY(180deg);
}

.back > img {
	height: 100%;
	width: auto;
}

#current-score {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	font-family: "spb";
	color: #d662f3;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#current-score.game-over {
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	font-family: "spb";
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#end {
	display: none;
}

#end.game-over {
	display: flex;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.75);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	flex-direction: column;
	align-items: center;
	color: white;
	justify-content: space-around;
	font-family: "spb";
	text-align: center;
}

#end h1 {
	font-size: 8rem;
}

#end h4 {
	font-size: 3rem;
}

@media (max-width: 992px) {
	.game-card-wrapper {
		width: 100%;
		padding-bottom: 100%;
	}
}

@media (max-width: 992px) {
	.game-card-wrapper {
		width: 120%;
		padding-bottom: 120%;
	}
}
